<table class="ui small table segment">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Location
            </th>
            <th>
            Created On
            </th>
            <th>
                Priority
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
        <tr>
            <td class="danger" colspan="4" data-ng-show="resources.length == 0">
                There are no resources
            </td>
        </tr>
        <tr data-ng-repeat="bookmark in bookmarks | orderBy:'priority':true">
            <td>
                {{bookmark.title}}
            </td>
            <td>
                {{bookmark.desc}}
            </td>
            <td>
                {{bookmark.location}}
            </td>
            <td>
            {{bookmark.Timestamp | date:'MM/dd/yyyy'}}
            </td>
            <td>
                {{bookmark.priority}}
            </td>
            <td style="width: 4%;">
                <i ng-click="goToEdit(bookmark.RowKey);" class="edit icon"></i>
            </td>
            <td style="width: 4%;">
                <i class="trash icon" style="float: right;" title="Delete" message="Do you want to remove this item?"
                    modal-id="{{bookmark.RowKey}}" on-approve="deleteBookmark(bookmark.RowKey);"
                    on-deny="closeModal();" confirm-modal></i>
            </td>
        </tr>
    </tbody>
</table>
