<div class="ui small modal" id="{{id}}" style="margin-top:-110px;">
    <div class="header">
        {{title}}</div>
    <div class="content">
        {{message}}
    </div>
    <div class="actions">
        <div class="ui small negative button">
            No
        </div>
        <div class="ui small positive right labeled icon button" ng-click="approve();">
            Yes <i class="checkmark icon"></i>
        </div>
        <!-- <div class="ui negative labeled icon button">
                No</div>
            <div class="ui positive labeled icon button button" ng-click="approve();">
                Yes</div>-->
    </div>
</div>
